  body {
  background-color: #E0E0E0;
  float: none;
  margin: auto;
}

p, a {
  font-family: 'Catamaran', sans-serif;
  font-weight: 200;
}

h1, h2, h4 {
  font-family: 'Catamaran', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
}

body.home {
  height: 100%;
  background-image: url("../images/main.png");
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

.inicio {
  width: 100% !important;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  text-align: center;
  padding-top: 3%;
  color: #fff;
}

.inicio h1 {
  font-weight: 400;
}

#name p {
  font-variant: small-caps;
  font-size: 20px;
}

div#name {
  width: 100%;
  position: relative;
  text-align: center;
}

.inicio p {
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 230%;
  letter-spacing: 1px;
}

.inicio .btn-group a {
  font-variant: small-caps;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}



.social_net a:hover, .social_net a:focus {
  color: #b3b08f;
}

i {
  font-size: 20px;
  margin: 2px;
}

.thumb_inicio a:hover{
  opacity: 0.7;
}

/*---------------------- 3D GENERALIST ----------------------*/

nav a {
  font-variant: small-caps;
}

nav, .navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #fff;
  border-color: transparent;
}

nav li.active {
  border-bottom: 2px solid #3c3c39;
}

.navbar-right .social_net a{
  color: #555;
}

.navbar-right .social_net{
  margin-right: 15px;
  margin-top: 10px;
}

.social_net a:hover, .social_net a:focus {
  color: #b3b08f;
}

.in .social_net {
	text-align: center;
  margin-top: 0;
}

.toolbar {
  margin-top: 3em;
  background-color: #fff;
  text-align: center;
}

.toolbar .btn:hover, .toolbar .btn:focus {
  font-weight: 800;
  border-bottom: 1px solid;
}

.toolbar .btn {
  font-family: 'Catamaran', sans-serif;
  font-weight: 200;
  font-size: 14px;
  font-weight: 100;
  margin-right: 20px;
  color: #a1a1a1;
  text-decoration: none;
  font-variant: small-caps;
  display: inline-block;
  line-height: normal;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border-bottom: 1px solid;
  border-radius: 0;
  background-color: transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.portfolio {
  margin: 1rem 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 4;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}

.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.tile:hover {
  opacity: 0.7;
}

.scale-anm {
  transform: scale(1);
}

.tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.modal-header {
  text-align: center;
  font-variant: small-caps;
  border: 0;
  background-color: #373737;
  color: #fff;
}

.modal-dialog {
  width: 90%;
  margin: 70px auto;
}

.modal-content {
  background-color: #E0E0E0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
}

.modal .col-md-4 {
  padding-left: 35px;
}

figcaption {
  font-family: 'Catamaran', sans-serif;
  font-weight: 100;
  text-align: center;
}

.sb {
  text-align: center;
}

.centrar {
  margin: auto;
}

.about {
  text-align: justify;
}

ul.softwares {
  list-style: none;
  font-family: 'Catamaran', sans-serif;
  font-weight: 200;
  padding-left: 0px;
}

.contacts a {
  color: #333;
}




/* Extra Small Devices, Phones */

@media (max-width: 767px) {
  body.home {
    background-size: auto;
  }

  .inicio{
    overflow:scroll;
  }

  .inicio h1 {
      font-size: 50px;
}

  .inicio .btn-group {
    display: inline-grid;
  }

  .inicio .btn-group a{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .portfolio {
    margin: 1rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
  }

.toolbar{
  display: none;
}

.p3d{
  margin-top: 12%;
}

.modal-dialog{
  margin-top: 30px;
}

.about, .contacts{
margin-top: 20px;
}
}
  /* Small Devices, Tablets */
  @media (min-width: 768px) and (max-width: 991px) {

    .inicio{
      overflow:scroll;
    }

    .portfolio {
      margin: 1rem 0;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1rem;
      -moz-column-gap: 1rem;
      column-gap: 1rem;
      -webkit-column-width: 33.33333333333333%;
      -moz-column-width: 33.33333333333333%;
      column-width: 33.33333333333333%;
    }

    .about, .contacts{
    margin-top: 20px;
    }

    .sketchfab-embed-wrapper iframe{
      width: 100% !important;
    }

  }
  /* Medium Devices, Desktops */
  @media (min-width: 992px) and (max-width: 1199px) {
    .inicio{
      overflow:scroll;
    }

    .contacts{
    margin-top: 20px;
    }

  }
  /* Large Devices, Wide Screens */
  @media (min-width: 1200px) {}
