body {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 20px;
}

#t1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
}

#t2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
}

p#t2 {
    font-size: 12px;
}
